@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-800 antialiased;
    font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  }
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
  body { background: white; }
}
